body {
    font-family: tahoma;
    font-size: 12px;
    background: #eee;
    color: black;
    margin: 0px;

}

#container {
    margin: 0px auto;
    padding: 20px 50px 50px 50px;
    width: 1000px;
    background: white;
}

h1 {
    font-size: 24px;
    clear: both;
}

h2 {
    font-size: 18px;
    color: #676767;
    clear: both;
}

h3 {
    font-size: 13px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: #0D4875;
}

a:hover {
    color: #389CDC;
}

td {
    padding: 5px 5px;
    vertical-align: top;
}

td:first-child {
    padding-left: 0;
}

p, b, td {
    font-size: 12px;
}

ul li p, ol li p {
    margin: 4px 0px;
}

a.back_to_top {
    font-size:10px;
    clear:both;
}

.code {
    font-family: "courier";
}

ul.nav {
    list-style-image: url(../images/RightArrow.gif);
    list-style-position:inside;
    padding-left: 0;
}
